$text_color: #111;
$text_color_invert: #fff;
$text_hover: #333;

$dark:#49555c;
$light:#fff;
$theme_color:#356ab3;

//Fonts
$primary_font:"Roboto";
$primary_bold:"Raleway";
$primary_semi:"Raleway";
$title_font:"Raleway";
$body_font:"Roboto";