.conferences{
    display: grid;
    column-gap: 50px;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 30px;

    @include media-xl-max(){
        grid-template-columns: 48% 48%;
    }


    &-card{
        border-radius: 5px;
        background: rgb(12, 120, 209);
        color: #fff;
        padding:25px;
        font-family: 'Roboto';
        display: flex;
        flex-direction: column;
        height: 250px;
        & h2{
            font-size: 16px;
            font-weight: normal;
        }
        & h3{
            font-size: 24px;
            font-weight: bold;
            font-family: 'Roboto';
        }
        & p{
            flex-grow: 1;
        }
        & a{
            color: $theme_color;
            
        }
    }

    &-apply_popup{
        border-radius: 5px;
        & label{
            color:$theme_color;
            font-weight: bold;
        }
    }
}

.application-status{
    border-radius: 10px 0 10px 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 15px;
    border-bottom: solid 4px #666666;
    color: #666666;
    display: inline-block;
    color: #fff;
    &.applied{
        border-bottom-color: #b35e18;
        background: #ef862f;
        text-transform: capitalize;
    }
    &.accepted{
        border-bottom-color: #057755;
        background: #09ac7b;
       
        text-transform: capitalize;
    }
    &.rejected{
        border-bottom-color: #740518;
        background: #b30623;
        text-transform: capitalize;
    }
}
.fl-gp{
    &-20{
        gap: 20px;
    }
    
}

.badge{
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: normal;
    font-size:16px;
    &.national{
        color: #410b85;
        background: #ecdcff;
    }

    &.council{
        color: #1a5a05;
        background: #e5ffdc;
    }
}