footer{
    clear:both;
    padding: 50px 0;
    min-height: 200px;
    // box-shadow: 0px 10px 20px  rgba(0,0,0,0.5) inset;
    background: #040404 url('../images/footer_map.jpg') center center no-repeat;
    background-size: cover;

    color: #fff;
    & i{
        color: #fff;
    }
    @include media-xs-max(){
        padding-top:15px;
    }
    & a{
        color: #fff !important;
        transition: color ease-in .2s;
        &:visited,&:focus{
            color: #fff;
        }
        &:hover{
            color: rgb(179, 179, 179)  !important;
        }
    }
    & h4{
        font-weight: normal;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 20px;
    }
    & h5{
       
        font-size: 21px;
        font-weight: normal;
    }
    & P{
        color: rgb(168, 167, 167);
    }
    & .social-links{
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
        margin-top: 8px;
        & li{
            display: inline-block;
            margin-right:8px ;
            margin-bottom:8px ;
            & img{
                height: 30px;
                // filter: invert(1);
            }
            & a:hover img{
                opacity: 0.8;
            }
        }
    }
    & .quick-links{
        & ul{
            list-style: none;
            padding: 0;
            & li{
                padding: 5px 0;
                & a{
                    color: rgb(168, 167, 167);
                    &:hover{
                        color: #fff;
                    }
                }
            }
            & ul{
                padding-left: 15px;
            }
        }
    }

    & .swipe-tabs{
        width: 95%;
        margin:0 auto;
    }
}
.copyright{
    padding-bottom: 0px;
    font-size: 16px;
}
.declaration{
    font-size: 12px;
    color: $text_color;
    font-weight: 400;
    padding-bottom: 50px;
    @include media-xs-max(){
        padding-bottom: 10px;
    }
}