.meeting{
    &-status{
        list-style: none;
        text-align: justify;
        position: relative;
        overflow: hidden;
        z-index: 1;
        padding-left: 0;
        margin: 0 45px;
        height: 4.5em;
        &:before{
            content: '';
            width: 100%;
            height: 1px;
            background-color:  $theme_color;
            position: absolute;
            top: 2em;
            margin-top: -2px;
            z-index: -1;
        }
        &:after {
            content: "";
            display: inline-block;
            width: 100%;
          }
        & li{
            width: 4em;
            height: 4em;
            text-align: center;
            line-height: 4em;
            border-radius: 50%;
            background: #32BEA6;
            border:solid 1px $theme_color;
            margin: 0 0em;
            display: inline-block;
            color: white;
            & div img{
                height: 28px;
                margin-top: -5px;
            }
            &.inactive{
                background-color:#fff;
                color: $theme_color;
            }
            &.error{
                background-color: #e74133;
            }
        }
    }
    &-guidetext{
        list-style: none;
        text-align: justify;
        position: relative;
        overflow: hidden;
        z-index: 1;
        padding-left: 0;
        margin: 0;
        height: 1.5em;
        & li{
            width: 33.33%;
            height: 4em;
            text-align: center;
            margin: 0 0em;
            float: left;
            color: $theme_color;
        }
    }
}

.meeting-slots-list{
    & li{
        list-style: none;
    }
    padding-left: 0;
}
.time-slot{
    padding:12px;
    border-radius: 5px;
    border:solid 1px rgb(206, 206, 206);
    position: relative;
    @include media-xs-max(){ margin: 5px; }
    &.active{
        background-color: rgb(215, 245, 170);
        &:after{
            content: "";
            background: url('../images/success.svg') center center no-repeat;
            background-size: cover;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
    &.proposed{
        background-color: rgb(255, 254, 175);
        &:after{
            content: "";
            background: url('../images/success.svg') center center no-repeat;
            background-size: cover;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 15px;
            right: 15px;
        }
        &:hover{
            background-color: rgb(255, 254, 175);
        }
    }
    &.expired{
        background-color: rgb(255, 193, 193);
        border-color:red;
    }
    &:hover{
        background-color: rgb(215, 245, 170);
        border:solid 1px rgb(106, 122, 109);
    }
    & i{
        width: 18px;
        color: $theme_color;
    }
    
}

#mm365_meeting_scheduling .tox.tox-tinymce{
    border-radius: 5px;
}
.meeting_status{
    font-weight: 500;
    font-family: 'Roboto';
    text-transform: capitalize;
    &.cancelled{
        color: #FF3D00
    }
    &.unapproved{
        color: #FF3D00
    }
    &.declined{
        color:#E91E63
    }
    &.meeting_declined{
        color: #E91E63
    }
    &.expired{
        color: #a51345
    }
    
    &.proposed{
        color: #FFB300
    }
    &.pending{
        color: #FFB300
    }
    &.scheduled{
        color: #689F38
    }
    &.approved, &.verified{
        color: #689F38
    }
    &.proposed_new_time{
        color: #00B0FF
    }
    &.accepted{
        color: #1fb1bb
    }
     &.rescheduled{
        color: #673ab7
    }

}

.meeting_date_2,.meeting_date_1,.meeting_date_3,.from_date,.to_date,.certificate_expiry_date,.from_date_ur,.to_date_ur,.from_date_tdy,.to_date_tdy,.registration_closing_date {
    background: url('../images/calendar-icon.svg') no-repeat #fff !important;
    background-position: 96%  !important;
    background-size: 16px  !important;
}
.from_time_1,.from_time_2,.from_time_3{
    background: url('../images/clock-regular.svg') no-repeat;
    background-position: 96%;
    background-size: 16px;
}
.to_time_1,.to_time_2,.to_time_3{
    background: url('../images/clock-regular.svg') no-repeat;
    background-position: 96%;
    background-size: 16px;
}
.cnd_1{
    color: red !important;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    margin-left: 3px;
}
.calendar-icon{
    display: none  !important;
}

.meeting_details_block{
    @include media-xs-max(){ padding-bottom: 20px; }
}

.schedule_meeting_button{
    background: #009e84;
    color: #fff !important;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #006857;
    transition: all ease-in-out .3s;
    margin: 5px 0;
    &:hover{
        background: #a51345;
        box-shadow: none;
        text-decoration: none !important;
        box-shadow:inset 0 5px 5px #42081c;
    }


}